* {
    margin: 0;
    padding: 0;
    list-style: none;    
}

a {
    text-decoration: none;
}

html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

@font-face {
    font-family: NanumSquareNeo;
    src:url(../font/NanumSquareNeo-Variable.ttf)
}

@font-face {
    font-family: IBMPlexSansKR-SemiBold;
    src: url(../font/IBMPlexSansKR-SemiBold.ttf)
}

::-webkit-scrollbar {
    width:10px;
}

::-webkit-scrollbar-thumb {
    background: #c3c3c3; /* 스크롤바 막대 색상 */
    border: 2px solid #c3c3c3; /* 스크롤바 막대 테두리 설정  */
    border-radius: 12px 12px 12px 12px;
}

::-webkit-scrollbar-track {
    background: #ffffff; /* 스크롤바 뒷 배경 색상 */
}

body {
    font-family: IBMPlexSansKR-SemiBold;
}


.sidebar {
    position:fixed;
    width: 220px;
    height: 100%;
    left:0;
    top:0;
    background: #042335;
    overflow-y: auto;
    order:-1;
}

    .sidebar header{
        font-size: 23px;
        color: white;
        text-align: center;
        line-height: 72px;
        background: #033852;
        user-select: none;        
    }
    .sidebar a {
        color: white;
    }

    .sidebar ul {
        padding: 0px;
        cursor: pointer;
    }

        .sidebar ul a {
            display: block;
            height: 100%;
            width: 100%;
            line-height: 68px;
            font-size: 14px;
            color: white;
            padding-left: 25px;
            box-sizing: border-box;
            border-top: 1px solid rgb(red, green, blue, .1);
            border-bottom: 1px solid black;
            transition: .5s;
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none
        }

        .sidebar ul li:hover a {
            padding-left: 60px;
        }

        .sidebar ul a li {
            margin-left: 18px;
        }

.container {
    margin:0 280px;
    padding:0;
}

.main {
    padding:2rem;    
}

.planner-form{
    display:flex;
    align-content:center;
    justify-content:center;
    flex-direction:row;
}

.planner-form > input{
    display:block;
    margin:0px 6px;
}

.planner-list {
    display: flex;
    flex-direction: column;
    padding:1rem;
}

.planner-types {
    display: flex;
    flex-direction: row;
    flex: 1 1 auto;
    flex-wrap: wrap;
    margin: 2em 0;
}

    .planner-types > li {
        width: 200px;
        margin: 10px;
        list-style: none;
        
    }

    .planner-list li a{
        font-size:17px;
    }

    

